[Desktop Entry]
Type=Application
Exec=/usr/bin/deepin-compressor  %U
GenericName=Compressor
Name=Deepin Compressor
MimeType=*
GenericName[zh_CN]=压缩工具
Name[zh_CN]=压缩(deepin)
X-DFM-MenuTypes=MultiFileDirs
