[Desktop Entry]
Exec=/usr/bin/deepin-compressor  %U compress
GenericName=Compress
MimeType=*
Name=Compress
Type=Application
X-DFM-ExcludeMimeTypes=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-lzip-compressed-tar;application/x-tzo;application/x-lrzip-compressed-tar;application/x-lz4-compressed-tar;application/x-zstd-compressed-tar;application/x-cd-image;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-rpm;application/x-source-rpm;application/vnd.ms-cab-compressed;application/x-xar;application/x-iso9660-appimage;application/x-archive;application/vnd.rar;application/x-rar;application/x-7z-compressed;application/zip;application/x-java-archive;application/x-compress;application/gzip;application/x-bzip;application/x-lzma;application/x-xz;application/vnd.android.package-archive;
X-DFM-MenuTypes=SingleFile;SingleDir
X-DFM-SupportSchemes=file

# Translations:
# Do not manually modify!
GenericName[ar]=ضغط
GenericName[ca]=Comprimeix
GenericName[cs]=Zkomprimovat
GenericName[da]=Komprimer
GenericName[de]=Komprimieren
GenericName[en]=Compress
GenericName[en_AU]=Compress
GenericName[en_GB]=Compress
GenericName[es]=Comprimir
GenericName[fi]=Pakkaa
GenericName[fr]=Compresser
GenericName[gl_ES]=Compresión
GenericName[hu]=Tömörítés
GenericName[id]=Kompres
GenericName[it]=Comprimi
GenericName[ko]=압축
GenericName[ms]=Mampat
GenericName[ne]=कम्प्रेस गर्नुहोस्
GenericName[nl]=Inpakken
GenericName[pl]=Kompresja
GenericName[pt]=Comprimir
GenericName[pt_BR]=Comprimir
GenericName[ro]=Comprimare
GenericName[ru]=Сжать
GenericName[sq]=Ngjeshe
GenericName[sr]=Запакуј
GenericName[tr]=Sıkıştır
GenericName[ug]=پىرسلاش
GenericName[uk]=Стиснути
GenericName[zh_CN]=压缩
GenericName[zh_HK]=壓縮
GenericName[zh_TW]=壓縮
Name[ar]=ضغط
Name[ca]=Comprimeix
Name[cs]=Zkomprimovat
Name[da]=Komprimer
Name[de]=Komprimieren
Name[en]=Compress
Name[en_AU]=Compress
Name[en_GB]=Compress
Name[es]=Comprimir
Name[fi]=Pakkaa
Name[fr]=Compresser
Name[gl_ES]=Compresión
Name[hu]=Tömörítés
Name[id]=Kompres
Name[it]=Comprimi
Name[ko]=압축
Name[ms]=Mampat
Name[ne]=कम्प्रेस गर्नुहोस्
Name[nl]=Inpakken
Name[pl]=Kompresja
Name[pt]=Comprimir
Name[pt_BR]=Comprimir
Name[ro]=Comprimare
Name[ru]=Сжать
Name[sq]=Ngjeshe
Name[sr]=Запакуј
Name[tr]=Sıkıştır
Name[ug]=پىرسلاش
Name[uk]=Стиснути
Name[zh_CN]=压缩
Name[zh_HK]=壓縮
Name[zh_TW]=壓縮

