[Desktop Entry]
Exec=/usr/bin/deepin-compressor  %U extract
GenericName=Extract
MimeType=application/octet-stream;
Name=Extract
Type=Application
X-DFM-ExcludeMimeTypes=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-lzip-compressed-tar;application/x-tzo;application/x-lrzip-compressed-tar;application/x-lz4-compressed-tar;application/x-zstd-compressed-tar;application/x-cd-image;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-rpm;application/x-source-rpm;application/vnd.ms-cab-compressed;application/x-xar;application/x-iso9660-appimage;application/x-archive;application/vnd.rar;application/x-rar;application/zip;application/x-java-archive;application/x-compress;application/gzip;application/x-bzip;application/x-lzma;application/x-xz;
X-DFM-MenuTypes=MultiFileDirs
X-DFM-SupportSchemes=file
X-DFM-SupportSuffix=7z.*

# Translations:
# Do not manually modify!
GenericName[ar]=استخراج
GenericName[ca]=Extreu
GenericName[cs]=Rozbalit
GenericName[da]=Udpak
GenericName[de]=Entpacken
GenericName[en]=Extract
GenericName[en_AU]=Extract
GenericName[en_GB]=Extract
GenericName[es]=Extraer
GenericName[fi]=Pura
GenericName[fr]=Extraire
GenericName[gl_ES]=Extraer
GenericName[hr]=Raspakiraj
GenericName[hu]=Kicsomagolás
GenericName[id]=Ekstrak
GenericName[it]=Estrai
GenericName[ko]=압축풀기
GenericName[ms]=Ekstrak
GenericName[ne]=निकाल्नुहोस्  / एक्स्त्रत
GenericName[nl]=Uitpakken
GenericName[pl]=Wypakuj
GenericName[pt]=Extrair
GenericName[pt_BR]=Extrair
GenericName[ro]=Extrage
GenericName[ru]=Извлечь
GenericName[sq]=Përftoji
GenericName[sr]=Распакуј
GenericName[tr]=Çıkart
GenericName[ug]=ئېرىشىش
GenericName[uk]=Видобуто
GenericName[zh_CN]=解压缩
GenericName[zh_HK]=解壓
GenericName[zh_TW]=解壓
Name[ar]=استخراج
Name[ca]=Extreu
Name[cs]=Rozbalit
Name[da]=Udpak
Name[de]=Entpacken
Name[en]=Extract
Name[en_AU]=Extract
Name[en_GB]=Extract
Name[es]=Extraer
Name[fi]=Pura
Name[fr]=Extraire
Name[gl_ES]=Extraer
Name[hr]=Raspakiraj
Name[hu]=Kicsomagolás
Name[id]=Ekstrak
Name[it]=Estrai
Name[ko]=압축풀기
Name[ms]=Ekstrak
Name[ne]=निकाल्नुहोस्  / एक्स्त्रत
Name[nl]=Uitpakken
Name[pl]=Wypakuj
Name[pt]=Extrair
Name[pt_BR]=Extrair
Name[ro]=Extrage
Name[ru]=Извлечь
Name[sq]=Përftoji
Name[sr]=Распакуј
Name[tr]=Çıkart
Name[ug]=ئېرىشىش
Name[uk]=Видобуто
Name[zh_CN]=解压缩
Name[zh_HK]=解壓
Name[zh_TW]=解壓

