[Desktop Entry]
Exec=/usr/bin/deepin-compressor  %U compress
GenericName=Compress
MimeType=application/octet-stream;
Name=Compress
Type=Application
X-DFM-MenuTypes=MultiFileDirs
X-DFM-SupportSchemes=file
X-DFM-SupportSuffix=7z.*

# Translations:
# Do not manually modify!
GenericName[ar]=ضغط
GenericName[ca]=Comprimeix
GenericName[cs]=Zkomprimovat
GenericName[da]=Komprimer
GenericName[de]=Komprimieren
GenericName[en]=Compress
GenericName[en_AU]=Compress
GenericName[en_GB]=Compress
GenericName[es]=Comprimir
GenericName[fi]=Pakkaa
GenericName[fr]=Compresser
GenericName[gl_ES]=Compresión
GenericName[hu]=Tömörítés
GenericName[id]=Kompres
GenericName[it]=Comprimi
GenericName[ko]=압축
GenericName[ms]=Mampat
GenericName[ne]=कम्प्रेस गर्नुहोस्
GenericName[nl]=Inpakken
GenericName[pl]=Kompresja
GenericName[pt]=Comprimir
GenericName[pt_BR]=Comprimir
GenericName[ro]=Comprimare
GenericName[ru]=Сжать
GenericName[sq]=Ngjeshe
GenericName[sr]=Запакуј
GenericName[tr]=Sıkıştır
GenericName[ug]=پىرسلاش
GenericName[uk]=Стиснути
GenericName[zh_CN]=压缩
GenericName[zh_HK]=壓縮
GenericName[zh_TW]=壓縮
Name[ar]=ضغط
Name[ca]=Comprimeix
Name[cs]=Zkomprimovat
Name[da]=Komprimer
Name[de]=Komprimieren
Name[en]=Compress
Name[en_AU]=Compress
Name[en_GB]=Compress
Name[es]=Comprimir
Name[fi]=Pakkaa
Name[fr]=Compresser
Name[gl_ES]=Compresión
Name[hu]=Tömörítés
Name[id]=Kompres
Name[it]=Comprimi
Name[ko]=압축
Name[ms]=Mampat
Name[ne]=कम्प्रेस गर्नुहोस्
Name[nl]=Inpakken
Name[pl]=Kompresja
Name[pt]=Comprimir
Name[pt_BR]=Comprimir
Name[ro]=Comprimare
Name[ru]=Сжать
Name[sq]=Ngjeshe
Name[sr]=Запакуј
Name[tr]=Sıkıştır
Name[ug]=پىرسلاش
Name[uk]=Стиснути
Name[zh_CN]=压缩
Name[zh_HK]=壓縮
Name[zh_TW]=壓縮

