[Desktop Entry]
Type=Application
Exec=/usr/bin/deepin-compressor  %U extract_mkdir
GenericName=Extract new directory
Name=Extract new directory
Icon=
MimeType=application/x-7z-compressed;
X-DFM-ExcludeMimeTypes=application/wps-office.*;application/vnd.ms-excel;application/vnd.ms-powerpoint;application/vnd.ms-powerpoint.*;application/vnd.ms-project;application/msword;application/vnd.openxmlformats-officedocument.*;
GenericName[zh_CN]=解压缩到新建目录
GenericName[en]=Extract new directory
Name[zh_CN]=解压缩到新建目录
Name[en]=Extract new directory
X-DFM-MenuTypes=SingleFile;SingleDir
X-DFM-SupportSchemes=file
